.app {
  padding: 30px;
}
.app h1 {
  color: #323232;
}
.app table {
  width: 100%;
}
.app table td, .app table th {
  text-align: center;
}
.app table td:first-child, .app table th:first-child {
  width: 15%;
}
.app table .status {
  background: black;
  height: 18px;
  width: 18px;
  display: inline-block;
  border-radius: 50%;
}
.app table .status-up {
  background: #0ce881;
}
.app table .status-down {
  background: #ff3f34;
}
.app table .status-warn {
  background: #ffa800;
}
.app table .status-neutro {
  background: #d2dae2;
}